/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 275;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* brand */

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  /*====  Fonts ============================ */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  --nav-height: 7.2rem;
}

/*====  BASE ============================ */
html {
  scroll-behavior: smooth;
}
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}
.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
/*==== NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}
nav .menu ul {
  display: none;
}
/*==== mostrar menu ============================ */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/*==== toggle menu ============================ */
nav .icon-close {
  visibility: hidden;
  opacity: 1;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

/*==== transição bacana ============================ */

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/*==== LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  HOME ============================ */

#home img {
  width: 17.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem; /*X Y*/
}

#home .stats {
  width: 90%;
  padding-block: 2rem;
  margin-inline: auto;
  
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

#home p {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 1.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

#home .stat h3 {
  font-size: 2.8rem;
  color: var(--title-color);
  line-height: 130%;
  margin-bottom: 0.4rem;

}

#home .stat p {
  margin: 0;
  color: var(--base-color);
  font-size: 1.2rem;
  line-height: 150%;
}

#home h1 {
  font-size: 2.2rem;
  text-align: center;
}

#home h4 {
  font-size: 1rem;
  text-align: center;
  color: var(--base-color);
}

.stat h3 {
  text-align: center;
}


/* about ============ */
#about {
  background: white;
}
#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#about .image img {
  position: relative;
  right: 2.93rem;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Services ============ */

.cards.grids {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
/* EQUIPE AQ ============ */
/* Equipe ============ */
  
#equipe {
  background:var(--body-color);
  margin: 0;
}

/* coluna inteira */

#equipe blockquote {
  padding: 1rem 0,5rem ;
  /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);*/
  border-radius: 0.25rem;
  margin: 0;
  position: relative;
  height: 13.7rem;
  width: 40rem;

}





.swiper {
  width: 344px;
  height: 530px;
}

/* .testimonials.swiper-container {} ( se eu quiser adicionar alguma sombra) */
  



#equipe blockquote p span {
  font: 20 1.2rem serif;
  position: relative;
  top: 10rem;
  left: 15rem;
  color: var(--text-color);
  align-items: center;
  margin: 0;
}

#equipe .grid {
  padding: 7rem;
  align-items: center;

  
}

#equipe img {
  width: 10rem;
  height: 10rem;
  position: relative;
  top: -3rem;
  object-fit: cover;
  clip-path: circle();
  left: 12%;
  margin: 0;

}


/* descricao do nome*/
#equipe blockquote p {
  position: relative;
  top: -3rem;
  right: 9.7rem;
  text-align: center;
}

#equipe footer i {
  font-size: 33px;
  top: 0rem;
  left: 28%;
  color: var(--text-color-light);
  align-items: center;
  position: relative;
 
}

#equipe footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  align-items: center;
}



#equipe footer .social a:hover {
  transform: translateY(-8px);
}

/*nome*/
.team {
position: relative;
top: -3rem;
left: 14%;
margin: 0;
}

/*texto do meio*/
.exp {
 text-align: center;
 width: 55%;
 margin-top: 0%;
 position: relative;
 left: -1rem;
 top: -2rem;
 font-size: 1.2rem;
 align-items: center;
}

footer.rede {
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  width: 53%;
}

/* Depoimentos ============ */

#testimonials {
  background: white;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 3rem serif;

  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* Contact ============ */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/* Footer ============ */
footer {
  background: var(--base-color);
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}
